# Output paths for front end build scripts
SCRIPTS = public_html/js/
STYLES = public_html/css/
IMAGES = public_html/img/
FONTS = public_html/fonts/

# Used for renaming generated icon-font packages from fontello or similar services
RENAME_FONTS = true
RENAME_TARGET = fontello
RENAME_NAME = icon_font

# Comments work like this
# FONTS = public_html/content/themes/parent_theme/fonts/